
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.4rem;
}



#bound-one {
    background: #d0d8db;
}

#bound-two {
    background: #dfcece;
}

#bound-three {
    background: #d0d6b3;
}

.scroll-bound {
    height: 500vh;
}

.scroll-bound .content {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-bound video {
    width: 80%;
}

.scroll-bound video {
    width: 100%;
    transform: scale(1.4);
}

@media only screen and (max-width: 600px) {

    .scroll-bound video {
        width: 100%;
        transform: scale(2);
    }

}


.flower-float{
    position: fixed;
    left: 45%;
    top: 17%;
    color: black;
    background-color: white;
    padding: 15px 20px;
    z-index: 100000000000;
    line-height: 19px;
}
.scroll-bound video{
      position: fixed;

  }
  .flower-float p {
    font-family: brother-1816, sans-serif;
margin: 0px;
font-weight: 100;

  }

    .flower-float h4{
      font-family: brother-1816, sans-serif;
      font-weight: 700;
      
  }

  .flower-more:hover{
      background: #000000 !important;
      color: white !important;
  }

  /* Toni css */
  
    



  .flower-float{
    position: fixed;
    left: 57%;
    top: 23%;
    color: black;
    background-color: white;
    z-index: 100000000000;
    line-height: 19px;
     color: black;
    background-color: white;
    opacity: 98%;
  
    padding: 2.6% 3%;
  }
  .flower-float p{
    font-family: kepler-std-extended-display, serif;
    font-weight: 400 !important;
    font-style: italic;
    font-size: 1.2vw;
    letter-spacing: 1px;
  
    color: rgb(0, 0, 0);
    text-align: LEFT  ;
    line-height: 1.3vw;
  
  
  }
  .flower-float h4{
    font-family: brother-1816, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .5px;
    text-align: LEFT;
    font-size: 1.2vw;
    
  }
  /* */
  