body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  #black {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
  }
  
  #dvd {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 10vh;
    width: 15vw;
    mask: url("./honeyfprever3005.svg");
    -webkit-mask: url("./honeyfprever3005.svg");
    mask-repeat: no-repeat;
    /* background-repeat: no-repeat !important; */
    /* background-size: 100% 100%; */
    /* background-position: center; */
  }
  


  .bouncing-float{
    position: absolute;
    bottom: 20%;
    left: 4%;

    opacity: 0.8;
    color: white;

    border-radius: 15px;
    padding: 10px 30px;
  }

  .bouncing-float p {
    font-family: brother-1816, sans-serif;
margin: 0px;
  }

    .bouncing-float h4{
      font-family: brother-1816, sans-serif;
      font-weight: 700;
  }


  .wtf-btn.dvd{
    position: absolute;
    right: 4%;
    top: 2%;
    border: 2px solid white;
    background: transparent !important;
    border-radius: 50%;
    padding: 10px 5px;
    font-family: brother-1816, sans-serif;
    font-weight: 900;
    font-size: 13px;
    color: #000000;
    z-index: 10000000000;
    background-color: transparent;
    border: 1px solid white;
    color: white;
  
  }
  .wtf-btn.dvd:hover{
  color: black;
    cursor: pointer;
    background: white;
    color: white;
    border: 1px solid white;
     }
  
     .more-btn.dvd{
       position: absolute;
       bottom: 5%;
       right: 3%;
       padding: 1px;
       font-family: brother-1816, sans-serif;
       font-weight: 900;
       font-size: 13px;
       color: white !important;
    
       padding: 2px 15px;
       border-radius: 25px;
       border: 2px solid #000000;
       cursor: pointer;
       z-index: 10000000000;
       background-color: transparent;
       color: #70ff00;
       border: 2px solid white;
       background: transparent !important;
     }

     .more-btn.dvd:hover{
  background-color: whitesmoke;
  color: black;
  border: 2px solid white;
      }


      .bounc-more:hover{
        background: white !important;
        color: #000000 !important;
    }
    /* toni css */


  .bouncing-float {
    position: absolute;
    bottom: 47%;
    left: 38%;
    opacity: .9;
    color: rgb(206, 127, 0);
    border-radius: 15px;
    padding: 10px 30px;
    /* align-items: center; */
}
#black {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}
.bouncing-float p {
  font-family: kepler-std-extended-display, serif;
  font-weight: 400 !important;
  font-style: italic;
  font-size: 1.2vw;
  letter-spacing: 1px;

  color: rgb(206, 127, 0);
  text-align: LEFT  ;
  line-height: 1.2vw;
padding-bottom: 2%;
}
.bouncing-float h4{
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .5px;
  text-align: LEFT;
  font-size: 1.2vw;
}




    /* */
