.gif-background-eggs{
    /* background: url("./asdgashsdhasdj.PNG"); */
    /* background-position: 100% 100%; */
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #000000;
}

.gif-background-eggs img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    left: 0;
    right: 0;
}