.Error-background{
    /* background: url("./asdgashsdhasdj.PNG"); */
    /* background-position: 100% 100%; */
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #000000;
}

.Error-background img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    left: 0;
    right: 0;
}


.wtf-btn.Error{
    position: absolute;
    right: 4%;
    top: 2%;
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 10px 5px;
    font-family: brother-1816, sans-serif;
    font-weight: 900;
    font-size: 13px;
    color: #000000;
    z-index: 10000000000;
    background-color: transparent;
    border: 1px solid #70ff00;
    color: #70ff00;
  
  }
  .wtf-btn.Error:hover{
  
    cursor: pointer;
    background: #70ff00;
    color: #000000;
    border: 1px solid #000000;
     }
  
     .more-btn.Error{
       position: absolute;
       bottom: 2%;
       right: 2%;
       font-family: brother-1816, sans-serif;
       font-weight: 900;
       font-size: 13px;
       color: #000000;
    
       padding: 2px 15px;
       border-radius: 25px;
       border: 2px solid #000000;
       cursor: pointer;
       z-index: 10000000000;
       background-color: transparent;
       color: #70ff00;
       border: 2px solid #70ff00;
     }

     .more-btn.Error:hover{
  background-color: #70ff00;
  color: #000000;
  border: 2px solid #70ff00;
      }

      .Error-background {
  margin-bottom: 0px;
    }

     /* Toni css */
     .more-btn.Error{
      position: absolute;
      bottom: 5%;
      right: 3%;
      font-family: brother-1816, sans-serif;
      font-weight: 900;
      font-size: 13px;
      color: #000000;
   
      padding: 2px 15px;
      border-radius: 25px;
      border: 2px solid #000000;
      cursor: pointer;
      z-index: 10000000000;
      background-color: transparent;
      color: #70ff00;
      border: 2px solid #70ff00;
    }

     /* */
